body { 
  padding-top:80px; 
}

#chatArea {
  height: 300px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.input-group{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#inputChat {
  width: 650px;
}

#box{
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.fa-anchor{
  float: left;
  font-size: 2.5em;
}

#openRooms {
  float: left;
  position: absolute;
  margin-left: auto;
}

#inRoom {
  float: right;
  position absolute;
  margin-left: -50px;
}

#rooms{
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding: 10px;
  margin-top: 30px;
}

#users{
  float: right;
  margin-top: 30px;
  margin-left: -50px;
}

#send-text{
  float: right;
}

@media screen and (max-width:699px){
  .input-group {
    width: 100%;
  }
  #chatArea {
    width: 100%;
  }
  #inputChat {
    width: 92%;
  }
  h4 {
    margin-left: 0px;
  }
  #rooms{
    margin-left: 0px;
  }
}