<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weeby Chat</title>
  <link rel="stylesheet" href="/style/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="shortcut icon" href="http://www.weeby.co/img/index/ico_IDE.png"/>
</head>
<body background="/image/back.jpg">
  <div class="container">
    <div class="page-header text-center">
      <div id="box">
        <span class="fa fa-anchor"></span><h2 id="subtitle"></h2>
      </div>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <h4 id="openRooms">Open Chat Rooms</h4>
    <div id="rooms"></div>

    <h4 id="inRoom">In the Room</h4>
    <div id="users"></div>

    <div class="input-group">
      <textarea id="chatArea"></textarea>
      <br />
      <br />
      <input id="inputChat" class="form-control text-input">
      <span id="send-text" class="input-group-btn">
        <button class="btn btn-primary">Send</button>
      </span>
    </div>

  </div>
  <br/>
  <br/>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bower_components/jQuery/dist/jquery.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>