<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weeby Chat</title>
  <link rel="stylesheet" href="/style/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="shortcut icon" href="http://www.weeby.co/img/index/ico_IDE.png"/>
</head>
<body>
  <div class="container">

    <div id="frontPage" class="jumbotron text-center">
      <h1></span>Welcome to Weeby Chat</h1>

      <p>Login or Register with:</p>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a><br/>
      <p> - or - </p>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </div>

  </div>
</body>
</html>